
<div class="space"></div>
<div class="container bin_url">
    <p class="col-md-12 text-center center-block">{{binURL}}</p>
</div>
<div class="space"></div>
<p>
This page should show all the requests. For that we should implement
partials. Each partial will render one of the requests. The partials should be displayed
one after another. The 
</p>

{{#each listOfRequests}}
    <hr>
    {{> requestPartial request=this}}
{{/each}}
