<div>
  <script type="text/javascript">
    createBin = async () => {
      const response = await fetch('/bins', {
        method: 'POST',
      })
      if (response.ok) {
        response.json().then(data => {
          window.location.href = `${data.urlForward}`
        })
      }
    }
  </script>
</div>
<style>
  .landing-text {
    height: 500px;
    text-align: center;
    font-size: large;
  }

  .instructions {
    font-family: 'Gluten', 'cursive';
    font-size: large;
  }

  .space { margin:0; padding:0; height:50px; }

  img {
    display: block;
    max-width: 25%;
    height: auto;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="container">
  <div class="row landing-text justify-content-around align-items-center">
    <p>RequestBin gives you a URL that will collect requests made to it and let you inspect them in a human-friendly way. 
      Use RequestBin to see what your HTTP client is sending or to inspect and debug webhook requests.</p>
    <div class="row instructions">
      <div class="col-sm-4 justify-content-center align-items-center">
        <p class="text-center">Generate a bin</p>
        <img src="/images/clipart1867388.png">
      </div>
      <div class="col-sm-4 justify-content-center align-items-center">
        <p class="text-center">Make a request!</p>
        <img src="/images/arrows.png" style="max-width: 32%;" >
      </div>
      <div class="col-sm-4 justify-content-center align-items-center">
        <p class="text-center">Check out the results!</p>
        <img src="/images/results.png" style="max-width: 40%;">
      </div>
    </div>
    <div class="space"></div>
    <button class="col-sm-4 btn btn-dark btn-md" onclick="createBin()"> Make a Request Bin</button>
  </div>
</div>
