<div>
  <script type="text/javascript">
    createBin = async () => {
      const response = await fetch('/bins', {
        method: 'POST',
      })
      if (response.ok) {
        response.json().then(data => {
          window.location.href = `${data.urlForward}`
        })
      }
    }
  </script>
</div>

<div class="container">
  <div class="row landing-text justify-content-around align-items-center">
    <p>RequestBin gives you a URL that will collect requests made to it and let you inspect them in a human-friendly way. 
      Use RequestBin to see what your HTTP client is sending or to inspect and debug webhook requests.</p>
    <div class="row instructions">
      <div class="col-sm-4 justify-content-center align-items-center">
        <p class="text-center">Generate a bin</p>
        <img class="img-responsive" src="/images/clipart1867388.png">
      </div>
      <div class="col-sm-4 justify-content-center align-items-center">
        <p class="text-center">Make a request!</p>
        <img class="img-responsive" src="/images/arrows.png" style="max-width: 70px;" >
      </div>
      <div class="col-sm-4 justify-content-center align-items-center">
        <p class="text-center">Check out the results!</p>
        <img class="img-responsive" src="/images/results.png" style="max-width: 80px;" >
      </div>
    </div>
    <div class="space"></div>
    <button class="col-sm-4 btn btn-dark btn-block" onclick="createBin()"> Make a Request Bin</button>
  </div>
</div>
